# PYTHON BASICS

## Printing Statement

In [1]:
print("Hello, Python")

Hello, Python

## First Rule of python
### No semicolon is used like other programming languages

## Adding comments
### 1) Single Line comment 
### 2) Multiple Line comments

In [3]:
# This is for single line comment

In [ ]:
""" This is for multiple line comments """

## Variables

In [4]:
# variables are declared without mentioning the type
# for integers
x = 10
print(10)

10

In [5]:
# for string
x = "Python"
print(x)

Python

In [6]:
# for float
x = 10.565
print(x)

10.565

## Proper variable names

In [ ]:
var_sample = 1  #correct
var_1 = 'Sample' #correct
15var = 185 #wrong since numbers can't come first
var sample = 'Sample' # wrong since space can't come between variables

## Assigning multiple values to multiple variables

In [7]:
x,y,z = 10,'Sample',100
print(x)
print(y)
print(z)

10
Sample
100

## Assigning one value to multiple variables

In [9]:
x=y=z='One'
print(x)
print(y)
print(z)

One
One
One

## Concatenating in printing statement

#### Type 1

In [10]:
x = 10
y = 20
print(x+y)

30

In [11]:
x = 'Python'
y = ' Code'
print(x+y)

Python Code

In [13]:
x = 10
y = 'Python'
print(x+y)

#Shows error since concatenation of two different variable is not allowed

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Data types

In [15]:
x = 3
print(type(x))

<class 'int'>

In [16]:
x = 'Python'
print(type(x))

<class 'str'>

In [17]:
x = 12.55
print(type(x))

<class 'float'>

In [18]:
x = True
print(type(x))

<class 'bool'>

## Printing Range of number

In [19]:
x = 10
print(range(10))

range(0, 10)

In [20]:
x = 1.5
print(range(x))
# Shows error since range is applicable only for integer

TypeError: 'float' object cannot be interpreted as an integer

## Type Casting

In [21]:
x = int (3.45) #converts float to int
print(x)

3

In [22]:
x = float (5)
print(x)

5.0

In [24]:
x = str(1)
print(x)
print(type(x))

1
<class 'str'>

## Loops
### 1) For 
### 2) While

In [26]:
# for loop
for i in range (4):
    print(i)

0
1
2
3

In [37]:
# while loop
x = 2
while x > 0:
    print(x)
    x = x-1

2
1

## String Functions
#### 1) String in for loop
#### 2) String length
#### 3) Finding whether a text is present in the statement
#### 4) Slicing String
#### 5) Negative Indexing
#### 6) Upper case
#### 7) Lower case
#### 8) Removing white space
#### 9) Replaces word
#### 10) Split

In [39]:
# printing string in for loop
x = 'python'
for i in x:
    print(i)

p
y
t
h
o
n

In [40]:
# String length
x = 'python'
print(len(x))

6

In [41]:
# Finding whether a text is present in the statement
text = "Python was introduced by Guido van Rossum in the year 1991"
print ("1991" in text)

True

In [42]:
text = "Python was introduced by Guido van Rossum in the year 1991"
print ("september" in text)

False

In [43]:
text = "Python was introduced by Guido van Rossum in the year 1991"
print('1998' not in text)

True

In [46]:
# Slicing string
x = "Python"
print(x[1:2])

y

In [47]:
x = "Python"
print(x[1:4])
# Limit to the right side of the semicolon will not included

yth

In [48]:
x = "Python"
print(x[:2])
# 2 is the limit so before 2 everything has to be printed

Py

In [51]:
x = "Python"
print(x[2:])
# including 2 everything has to be printed

thon

In [54]:
# Negative Indexing
x = "012345"
print(x[-4:-1])
# Start counting from back 
# In negative indexing both right side and left side count of the semicolon is included

234

In [56]:
# Upper case
x = 'Python'
print(x.upper())

PYTHON

In [57]:
# Lower case
x = 'Python'
print(x.lower())

python

In [58]:
# Removes white space
x = ' python '
print(x.strip())

python

In [60]:
# Replaces word
x = 'hello'
print(x.replace('l','a'))
# replaces all the occurances

heaao

In [61]:
#Split
x = 'Hello Python'
print (x.split())

['Hello', 'Python']

### Formated Output

In [62]:
x = 1991
y = 'Python was introduced in {}'
print (y.format(x))

Python was introduced in 1991

In [63]:
x1 = 'Python'
y1 = 'Guido Von Rossum'
z1 = 1991
x2 = 'C'
y2 = 'Dennis Ritchie'
z2 = '1972'
text = '{} was introduced by {} in the year {}'
print (text.format(x1,y1,z1))
print (text.format(x2,y2,z2))

Python was introduced by Guido Von Rossum in the year 1991
C was introduced by Dennis Ritchie in the year 1972