# PYTHON BASICS

## Printing Statement

In [1]:
print("Hello, Python")

Hello, Python

## First Rule of python
### No semicolon is used like other programming languages

## Adding comments
### 1) Single Line comment 
### 2) Multiple Line comments

In [3]:
# This is for single line comment

In [ ]:
""" This is for multiple line comments """

## Variables

In [4]:
# variables are declared without mentioning the type
# for integers
x = 10
print(10)

10

In [5]:
# for string
x = "Python"
print(x)

Python

In [6]:
# for float
x = 10.565
print(x)

10.565

## Proper variable names

In [ ]:
var_sample = 1  #correct
var_1 = 'Sample' #correct
15var = 185 #wrong since numbers can't come first
var sample = 'Sample' # wrong since space can't come between variables

## Assigning multiple values to multiple variables

In [7]:
x,y,z = 10,'Sample',100
print(x)
print(y)
print(z)

10
Sample
100

## Assigning one value to multiple variables

In [9]:
x=y=z='One'
print(x)
print(y)
print(z)

One
One
One

## Concatenation in printing statement

#### Type 1

In [10]:
x = 10
y = 20
print(x+y)

30

In [11]:
x = 'Python'
y = ' Code'
print(x+y)

Python Code

In [13]:
x = 10
y = 'Python'
print(x+y)

#Shows error since concatenation of two different variable is not allowed

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Data types

In [15]:
x = 3
print(type(x))

<class 'int'>

In [16]:
x = 'Python'
print(type(x))

<class 'str'>

In [17]:
x = 12.55
print(type(x))

<class 'float'>

In [18]:
x = True
print(type(x))

<class 'bool'>

## Printing Range of number

In [19]:
x = 10
print(range(10))

range(0, 10)

In [20]:
x = 1.5
print(range(x))
# Shows error since range is applicable only for integer

TypeError: 'float' object cannot be interpreted as an integer

## Type Casting

In [21]:
x = int (3.45) #converts float to int
print(x)

3

In [22]:
x = float (5)
print(x)

5.0

In [24]:
x = str(1)
print(x)
print(type(x))

1
<class 'str'>

## Loops
### 1) For 
### 2) While

In [26]:
# for loop
for i in range (4):
    print(i)

0
1
2
3

In [37]:
# while loop
x = 2
while x > 0:
    print(x)
    x = x-1

2
1

## String Functions
#### 1) String in for loop
#### 2) String length
#### 3) Finding whether a text is present in the statement
#### 4) Slicing String
#### 5) Negative Indexing
#### 6) Upper case
#### 7) Lower case
#### 8) Removing white space
#### 9) Replaces word
#### 10) Split

In [39]:
# printing string in for loop
x = 'python'
for i in x:
    print(i)

p
y
t
h
o
n

In [40]:
# String length
x = 'python'
print(len(x))

6

In [41]:
# Finding whether a text is present in the statement
text = "Python was introduced by Guido van Rossum in the year 1991"
print ("1991" in text)

True

In [42]:
text = "Python was introduced by Guido van Rossum in the year 1991"
print ("september" in text)

False

In [43]:
text = "Python was introduced by Guido van Rossum in the year 1991"
print('1998' not in text)

True

In [46]:
# Slicing string
x = "Python"
print(x[1:2])

y

In [47]:
x = "Python"
print(x[1:4])
# Limit to the right side of the semicolon will not included

yth

In [48]:
x = "Python"
print(x[:2])
# 2 is the limit so before 2 everything has to be printed

Py

In [51]:
x = "Python"
print(x[2:])
# including 2 everything has to be printed

thon

In [54]:
# Negative Indexing
x = "012345"
print(x[-4:-1])
# Start counting from back 
# In negative indexing both right side and left side count of the semicolon is included

234

In [56]:
# Upper case
x = 'Python'
print(x.upper())

PYTHON

In [57]:
# Lower case
x = 'Python'
print(x.lower())

python

In [58]:
# Removes white space
x = ' python '
print(x.strip())

python

In [60]:
# Replaces word
x = 'hello'
print(x.replace('l','a'))
# replaces all the occurances

heaao

In [61]:
#Split
x = 'Hello Python'
print (x.split())

['Hello', 'Python']

### Formated Output

In [62]:
x = 1991
y = 'Python was introduced in {}'
print (y.format(x))

Python was introduced in 1991

In [63]:
x1 = 'Python'
y1 = 'Guido Von Rossum'
z1 = 1991
x2 = 'C'
y2 = 'Dennis Ritchie'
z2 = '1972'
text = '{} was introduced by {} in the year {}'
print (text.format(x1,y1,z1))
print (text.format(x2,y2,z2))

Python was introduced by Guido Von Rossum in the year 1991
C was introduced by Dennis Ritchie in the year 1972

## Lists 
##### Allows duplicates and can be modified anywhere in the code
##### 1) Printing specific list
##### 2) Displaying from last 
##### 3) Replacing a single attribute from the list
##### 4) Replacing multiple attribute from the list
##### 5) Insertion in a list
##### 6) Appending the list
##### 7) Extending the list
##### 8) Removing an attribute from the list
##### 9) Popping the attribute from the list
##### 10) Deleting the attribute from the list
##### 11) Clearing the list
##### 12) Loop in a list
##### 13) List comprehensive
##### 14) Sorting a list
##### 15) Reverse sorting a list
##### 16) Copying a list

In [1]:
x = ['one', 'two','three','one']
print (len(x))

4

In [2]:
# printing specific list
x = ['one', 'two','three','one']
print (x[1])

two

In [3]:
# Displaying from last 
x = ['one', 'two','three']
print (x[-1])

three

In [4]:
# Replacing a single attribute from the list
x = ['one', 'two','three']
x[1] = 'ten'
print(x)

['one', 'ten', 'three']

In [5]:
# Replacing multiple attribute from the list
x = ['one', 'two','three','Four','Five','Six']
x[1:3]=['ten','twenty']
print(x)

['one', 'ten', 'twenty', 'Four', 'Five', 'Six']

In [7]:
x = ['one', 'two','three','Four','Five','Six']
x[1:3]=['ten']
print(x)
# the attribute at first and second position will become a single one

['one', 'ten', 'Four', 'Five', 'Six']

In [10]:
# Insertion in a list
x = ['one', 'two','three','Four','Five','Six']
x.insert(2,'ten')
print(x)
# Since two is given, it will be inserted in second position

['one', 'two', 'ten', 'three', 'Four', 'Five', 'Six']

In [12]:
# Appending the list
x = ['one', 'two','three','Four','Five','Six']
x.append('ten')
print(x)
# Simply appends the word at the end of the list

['one', 'two', 'three', 'Four', 'Five', 'Six', 'ten']

In [13]:
x = ['one', 'two','three','Four','Five','Six']
x.append('ten','twenty')
print(x)
# Causes error because append can take only one argument

TypeError: append() takes exactly one argument (2 given)

In [14]:
# Extending the list
x = ['one', 'two','three','Four','Five','Six']
y = ['ten', 'twenty', 'thirty']
x.extend(y)
print (x)

['one', 'two', 'three', 'Four', 'Five', 'Six', 'ten', 'twenty', 'thirty']

In [15]:
x = ['one', 'two','three','Four','Five','Six']
y = ['ten', 'twenty', 'thirty']
print(x.extend(y))
# extend should not be done inside the printing statement

None

In [16]:
# Removing an attribute from the list
x = ['one', 'two','three','Four','Five','Six']
x.remove('two')
print (x)

['one', 'three', 'Four', 'Five', 'Six']

In [17]:
# Popping the attribute from the list
x = ['one', 'two','three','Four','Five','Six']
x.pop(3)
print(x)

['one', 'two', 'three', 'Five', 'Six']

In [18]:
# deleting the attribute from the list
x = ['one', 'two','three','Four','Five','Six']
del x[1]
print(x)

['one', 'three', 'Four', 'Five', 'Six']

In [23]:
x = ['one', 'two','three','Four','Five','Six']
del x
print(x)
# throws error since the entire list 'x' is deleted

NameError: name 'x' is not defined

In [24]:
# Clearing the list
x = ['one', 'two','three','Four','Five','Six']
x.clear()
print(x)

[]

In [25]:
# Clearing a list
x = ['one', 'two','three','Four','Five','Six']
x.clear()
print(x)

[]

In [26]:
# Loop in a list
x = ['one', 'two','three','Four','Five','Six']
for i in x:
    print (i)

one
two
three
Four
Five
Six

In [27]:
# for loop using range in a list
list_one = ['one', 'two','three','Four','Five','Six']
for i in range(len(list_one)):
    print (i)

0
1
2
3
4
5

In [28]:
list_one = ['one', 'two','three','Four','Five','Six']
for i in range(list_one):
    print (i)
# throws error since range can be used only for numeric values

TypeError: 'list' object cannot be interpreted as an integer

In [30]:
# List comprehensive
list_one = ['one', 'two','three','Four','Five','Six']
[print (i) for i in list_one]

one
two
three
Four
Five
Six

[None, None, None, None, None, None]

In [31]:
# Sorting a list
list_one = ['one', 'two','three','Four','Five','Six']
list_one.sort()
print(list_one)
# sorts according to alphabetic order

['Five', 'Four', 'Six', 'one', 'three', 'two']

In [32]:
# Reverse sorting a list
list_one = ['one', 'two','Three','Four','Five','Six']
list_one.reverse()
print(list_one)

['Six', 'Five', 'Four', 'Three', 'two', 'one']

In [33]:
# Copying a list 
# Type 1
list_one = ['one', 'two','Three','Four','Five','Six']
list_two = list_one.copy()
print(list_two)

['one', 'two', 'Three', 'Four', 'Five', 'Six']

In [34]:
# Copying a list 
# Type 1
list_one = ['one', 'two','Three','Four','Five','Six']
list_two = list(list_one)
print(list_two)

['one', 'two', 'Three', 'Four', 'Five', 'Six']

## Tuples
##### 1) Accessing Tuple
##### 2) Using Asterix
##### 3) Two values as one
##### 4) Multiple Tuples
##### 5) Index In tuple

In [38]:
tuple_one = ('one','two')
print(type(tuple_one))
# only if i has two or more attribute it a tuple

<class 'tuple'>

In [37]:
tuple_one = ('one')
print(type(tuple_one))
# if it has only a single attribute it is a string

<class 'str'>

In [39]:
# Accessing Tuple - Same like list
tuple_one = ('one','two','three')
print(tuple_one[1])

two

In [40]:
# Using Asterix
tuple_one = ('one','two','three')
(green,red,*blue) = tuple_one
print(green)

one

In [41]:
# Two values as one
tuple_one = ('one','two','three')
(green,*blue) = tuple_one
print(green)
print(blue)

one
['two', 'three']

In [42]:
tuple_one = ('one','two','three')
(green,blue) = tuple_one
print(green)
print(blue)

ValueError: too many values to unpack (expected 2)

In [44]:
# Multiple Tuples
tuple_one = ('one','two','three')
tuple_two = tuple_one*2
print(tuple_two)

('one', 'two', 'three', 'one', 'two', 'three')

In [45]:
# Index In tuple
tuple_one = ('one','two','three')
x = tuple_one.index('one')
print(x)

0

## SETS
#### Rule
###### * sets cannot be changes once they are created
###### * sets does not allow duplicates

In [46]:
set_one = set(('one','two','three'))
print(set_one)

{'three', 'one', 'two'}

## DICTIONARY 
###### They can be altered but does not allow duplicated

In [47]:
dict_one ={
    "name":"XYZ",
    "DOB": "1/10/1989"
    }
print(dict_one)

{'name': 'XYZ', 'DOB': '1/10/1989'}

In [48]:
dict_one ={
    "name":"XYZ",
    "DOB": "1/10/1989"
    }
print(dict_one[1])
# incorrect access of dictionary

KeyError: 1

In [49]:
# Printing Values
dict_one ={
    "name":"XYZ",
    "DOB": "1/10/1989"
    }
print(dict_one.values())

dict_values(['XYZ', '1/10/1989'])

In [50]:
# Printing Keys
dict_one ={
    "name":"XYZ",
    "DOB": "1/10/1989"
    }
print(dict_one.keys())

dict_keys(['name', 'DOB'])

In [51]:
# Updating Dictionary
# Type 1:
dict_one ={
    "name":"XYZ",
    "DOB": "1/10/1989"
    }
dict_one.update({'name':'ABC'})
print(dict_one)

{'name': 'ABC', 'DOB': '1/10/1989'}

In [52]:
# Updating Dictionary
# Type 2
dict_one ={
    "name":"XYZ",
    "DOB": "1/10/1989"
    }
dict_one['name'] ='ABC'
print(dict_one)

{'name': 'ABC', 'DOB': '1/10/1989'}

In [53]:
# Dictionary Methods
# 1) clear()        2) copy()
# 3) fromkeys()     4) get()
# 5) items()        6) pop()
# 7) popitem()      8) setdefault()
# 9) update()       10) values()

## Functions
###### 1) Passing arguments in function
###### 2) Arbitary Arguments
###### 3) Keyword Argument
###### 4) Return Function
###### 5) Classes
###### 6) __Init__ function
###### 7) Delete object attribute

In [54]:
def func_one():
    print("First Function")
func_one()

First Function

In [55]:
# Passing arguments in function
def func_one(values):
    print(values +" First Function")
func_one("Congrats")

Congrats First Function

In [56]:
# Arbitary Arguments
# When we don't know about the number of arguments we pass
def func_one(*values):
    print(values[1] +" That's your first Function")
func_one("Congrats","Wow","Great")

Wow That's your first Function

In [57]:
# Keyword Argument
def func_one(value1, value2, value3):
    print(value1 +" That's your first Function")
func_one(value1="Congrats",value2="Wow",value3="Great")

Congrats That's your first Function

In [58]:
# Return Function
def func_one(x):
    return 5*x
print(func_one(10))

50

In [59]:
# Classes
class Vehicle:
    name='Honda'
p1=Vehicle()
print(p1.name)

Honda

In [61]:
# __Init__ function
class Vehicle:
    def __init__(self,name,year):
        self.name=name
        self.year=year
p1=Vehicle('Honda','2019')
print(p1.year)

2019

In [63]:
# Delete object attribute
class Vehicle:
    def __init__(self,name,year):
        self.name=name
        self.year=year
p1=Vehicle('Honda','2019')
del p1.year
print(p1.year)
# Since the attribute is deleted it throws error

AttributeError: 'Vehicle' object has no attribute 'year'